



.pagination{
    text-align: center;
    margin-top: 20px;
    
}

.pagination button {
    padding: 5px 12px;
    margin:  4px ;
    margin-bottom: 2%;
    cursor: pointer;
    outline: 1px solid #494a4f;
    border-radius: 5px;
   
  }

#more{
    display: none;

}

#more1{
    display: none;
}

#more2{
    display: none;
}

#more3{
    display: none;
}